.header{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding: 0;
    justify-content: space-between;
}

.header__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header__button{
    display: flex;
    flex-direction: column;
    /* width: 20px; */
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 28px;
}

.header__span{
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    margin-bottom: 4px;
}

.header__input{
    width: 830px;
    padding: 12px 23px;
    background: #EBEBEB;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 22px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #30384C;
    mix-blend-mode: normal;
    opacity: 0.4;
    margin-left: 60px;
    background-image: url(../../Assets/Images/search.svg);
    background-repeat: no-repeat;
    background-position: 760px;
}

.header__about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 265px;
}